@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

:root {
  --primary: #888;
  --bg-color: #fff;
  --white: #fff;
}
/* header style  */
.header {
  width: 40%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-color {
  background-color: var(--primary) !important;
  color: var(--white) !important;
  font-weight: 500 !important;
}

.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-items: stretch;
}

#header {
  background-color: #2f538a;
}
#hero-title {
  font-size: 4rem;
}
#spinner {
  display: none;
}

.phone-title {
  font-size: 3rem;
}
.favorite-color {
  color: #3baed4;
}

/* error text style */
#error-text {
  display: none;
}

/* main section style */
#search-result {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.phone-style {
  width: 70%;
  margin: 0 auto;
  margin-top: 4rem;
  border: 2px solid #ddd;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px,
    rgb(0 0 0 / 20%) 0px -3px 0px inset;
}

#phone-details {
  width: 80%;
}

/* responsive by media query */
@media (max-width: 600px) {
  #search-result {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }
  .container {
    max-width: 90%;
  }

  #hero-title {
    font-size: 3rem;
  }
  #phone-details {
    width: 90%;
  }

  .phone-style {
    width: 100%;
  }
  .phone-title {
    font-size: 2rem;
  }
  .search-wrapper {
    flex-direction: column;
  }
  button#search-button {
    width: 40%;
    margin: auto;
    margin-top: 1rem;
  }
}
