@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

/* header style  */
#header {
  background-color: #2f538a;
}
#hero-title {
  font-size: 4rem;
}
#spinner {
  display: none;
}

.phone-title {
  font-size: 3rem;
}
.favorite-color {
  color: #3baed4;
}

/* error text style */
#error-text {
  display: none;
}

/* main section style */
#search-result {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.player-style {
  width: 70%;
  margin: 0 auto;
  margin-top: 4rem;
  border: 2px solid #ddd;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%);
}

#phone-details {
  width: 70%;
}

@media (max-width: 600px) {
  #search-result {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }
  .container {
    max-width: 100%;
  }

  #hero-title {
    font-size: 3rem;
  }
  #phone-details {
    width: 100%;
  }

  .player-style {
    width: 100%;
  }
}
